
@import url(libs/font-awesome/css/font-awesome.min.css);


/*==========================================================
	2. GENERAL
==========================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body{
	font-size: 14px;
	color: #757575;
	font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #373737;
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
img{
	border:none;
	max-width:100%;	
	height: auto;
}
a{
	color:#373737;
}
a:hover{
	color: #FFC21C;
	text-decoration:none;
}
a:focus{
	text-decoration: none;
	color: inherit;
	outline: none;
}
a, 
button, 
input {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
	border: 1px solid #d5d5d5;
	padding: 8px 15px;
	font-size: 14px;
	color: #757575;
	font-style: italic;
	border-radius: 0;
}
button,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
	border-color: #FFC21C;
	outline: none;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
	border-color: #FFC21C;
}

/*==========================================================
	3. HEADER
==========================================================*/
body{
	background-image: url(../images/assets/nen-bai-viet.jpg);
}
.logo {
    max-width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.wrapper-header-top {
    background: #FFC21D;
    background-image: url(../images/assets/banner-logo.jpg);
    background-size: contain;
    background-position: right 100%;
    background-repeat: no-repeat;
}
.main-menu {
    display: table;
    width: 100%;
    height: 50px;
    background: #333;
}

.main-menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 11px;
    text-decoration: none;
}

.main-menu li {
    display: inline-block;
    text-decoration: none;
}

.main-menu ul {
    display: table-cell;
    vertical-align: middle;
}
.main-menu li:hover a {
    background: #ffc21d;
    color: #fff;
    padding: 6px;
}

input[type=search] {
	background: white no-repeat 5px center;
	border: solid 1px #ccc;
	padding: 9px 12px 9px ;
    width: 100px;
    float: right;
    margin: 9px;
}

.content-widget-post .thumbnail-post {
    width: 66px;
   	float: left
}

.content-widget-post li {
    list-style: none;
    padding-top: 10px;
}
.widget-sidebar-post {
    overflow: hidden;
    padding-left: 8px;
}
.content-widget-post li {
    list-style: none;
    padding-top: 10px;
    display: inline-block;
    border-bottom: solid 1px #f5f5f5;
    padding-bottom: 10px;
}
.main-content{
    margin: 0 0 0 -19px;
}
/*====================sidebar================*/

.widget-sitebar .widget-title {
    background: #F5F5F5;
    padding: 10px 15px;
    background: #F5F5F5;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
}

.content-widget ul li {
    list-style: none;
    padding: 10px 7px;
    border-bottom: solid  1px #f5f5f5;
}
.content-widget ul li a{
  text-decoration: none;
}
.content-widget ul li:hover {
    background: #ECECEC;
    padding: 10px 7px;
}
.content-widget li:before {
    content: "\f105";
    font-family: fontawesome;
    padding-right: 5px;
}
.wrapper-site-main {
    background: #fff;
    margin-top: 0;
}


.row{
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.headding-products h4 {
	position: relative;
    padding: 10px 0px;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
}
.headding-products h4:before {
    
    content: '';
    display: block;
    width: 98px;
    height: 3px;
    background-color: #ffc21c;
    position: absolute;
    left: 0;
    bottom: 0;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.widget-sitebar {
    border-right: solid 1px #f5f5f5;
    margin-bottom: 30px;
}
/*===========================main content==============*/
.product {
    background: hsl(0, 0%, 96%);
    text-align: center;
}

.info-product {
    text-align: center;
}
.image-feature-product img{
 height: 210px;
 width: 160px;
}
.info-product .title-product {
    padding-top: 10px;
}

.info-product {}

.info-product{
    padding: px;
    display: inline-block;
    margin-bottom: 5px;
}
.info-product h4 a{
    text-decoration: none;
    font-size: 15px;
    line-height: 12px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #333333;
}
.wrapper-products {
    margin-bottom: 35px;

}
/*====================footer==============*/
.footer-top {
    background: #333333;
}


.footer-title-widget {
    color: #FFC21D;
    padding-bottom: 10px;
  	position: relative;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.content-footer-widget ul li {
    list-style: none;
}
.footer-top {
    padding: 15px 10px;
}

.content-footer-widget ul li a {
    color: #f3faf5;
}
.footer-title-widget:before {
    content: '';
    display: block;
    width: 98px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
}
.content-footer-widget ul li {
    float: left;
    width: 100%;
    font-size: 12px;
    padding-bottom: 11px;
}

.widget-info-box li>div {
    display: table-cell;
    vertical-align: top;
}
.widget-info-box ul.if-round .if-icon i {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 13px;
    letter-spacing: -.02em;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #656565;
    color: #fff;
}
.widget-info-box ul.if-round .if-content {
    padding-left: 10px;
}
.widget-info-box h3 {
    font-weight: 700;
    text-transform: uppercase;
}
.widget-info-box ul.if-round h3 {
    font-size: 11px;
    letter-spacing: -.02em;
    margin-bottom: 5px;
}
.widget-info-box ul.if-round h3{
	color: #ccc;
}
.if-content p {
    color: #f3faf5;
}
.footer-widget.connect-us ul a {
    width: 30px;
    height: 30px;
    text-align: center;
    background: #f7f7f7;
    display: inline-block;
    line-height: 30px;
}
.copy-right {
    display: block;
    background: #1d1d1d;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


#slider-text{
    padding-top: 40px;
    display: block;
  }
  #slider-text .col-md-6{
    overflow: hidden;
  }
   
  #slider-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px auto;
    padding-left: 40px;
  }
  #slider-text h2::after{
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
    }
   
  #itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 10px auto 3px;
    text-align: center;
  }
  #itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
  }
  #itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
  }
  .badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
  }
  #slider-control img{
    padding-top: 60%;
    margin: 0 auto;
  }
  @media screen and (max-width: 992px){
  #slider-control img {
    padding-top: 70px;
    margin: 0 auto;
  }
  }
   
  .carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
  }
  .carousel-showmanymoveone .cloneditem-1,
  .carousel-showmanymoveone .cloneditem-2,
  .carousel-showmanymoveone .cloneditem-3,
  .carousel-showmanymoveone .cloneditem-4,
  .carousel-showmanymoveone .cloneditem-5 {
    display: none;
  }
  @media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(16.666%, 0, 0);
      transform: translate3d(16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-16.666%, 0, 0);
      transform: translate3d(-16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }